
/*GENERAL STYLING*/
a {text-decoration: none; color:#62a0e3;}
a:hover {text-decoration: underline;}
body{background-color: white; font-size:12px; font-family:Helvetica, Verdana, Arial, Helvetica, sans-serif; color:#333333;}


/* HLAVNÍ MENU */
#hlavicka h1 {width:200px; height: auto; margin:0px; float: left; position:fixed; padding-left:50px; margin-top:50px;
			text-decoration:none; font-size:25px; color:black; font-weight:normal; z-index:1;} 
#okraj{width:260px; height: 450px; border-right:1px solid #ccc; position:fixed; float:left;}
#navigation {width:200px; height: auto; position:fixed; float:left; padding: 100px 50px 10px;}
#navigation a.link { font-family:arial;  font-size:17px; color: #454545; text-decoration: none; letter-spacing:0.25em; line-height:1.5;}		
#navigation a.link:hover {border-bottom: 1px solid #999999; color:black;}

/* O MNĚ */
.obsah{position:relative; float:left; margin-top: 50px; margin-left: 300px; width:1000px;}
.levy {position: relative; width: 25%; float: left; padding-right:15px; }
.pravy {position: relative; width: 70%; float: left; padding-right:15px; line-height: 1.9;}	
.mezera {padding-bottom:20px; clear:both;}
.dolni { padding-bottom:30px; clear:both; padding-top:10px; line-height: 1.9;}

/* POVÍDKY */
.seznam{position:relative; float:left; margin-top: 50px; margin-left: 300px; width:783px; text-align:center}
.popis_menu {font-size:13px; margin-top:5px; margin-bottom:30px; font-weight:bold; color: #444; text-decoration:none;}
a:hover img.obrazek_menu{ opacity:0.9; text-decoration:none; }
a:hover .popis_menu  {color:#62a0e3; text-decoration:none; }

/* KNIHY */
.kniha{position:relative; float:left; margin-top: 50px; margin-left: 300px; width:783px; text-align:center; line-height: 1.9;}

/* PATIČKA */
#paticka {border-top:1px solid #ccc;text-align: center	; margin-left:100px; margin-right:100px; padding:0px; padding-top:10px; clear:both;}


/*
.a {text-decoration:none; color: black;}

.nadpis{color:#999999;
		font-weight:normal;
		font-family:Georgia, Times, serif; 
		font-size:27px;
		text-decoration: none;
		line-height:1.4;
		letter-spacing:0.25em;
		line-height:1.4;
		letter-spacing:0.25em;}			

.popis{	color:#555;font-family: Georgia, Times, serif; text-align: justify; margin: 0 auto;width: 40em;}

.contact{ position:absolute;  left:330px; line-height: 2;	color:#555;font-family: Georgia, Times, serif; text-align: justify; margin: 0 auto;width: 40em; font-size:12px;}


.obrazek_menu {
border-width: 3px; 
padding: center;
border-style:solid;
border-color: transparent; }

a:hover img.obrazek_menu{ 
padding:2px;
border:1px solid #999999;
background-color:transparent;}

.popis_menu {
		text-align: center;
		position:relative;
		top: 10px;
		color:#555;
		font-family: Georgia, Times, serif;
		}

a:hover div.popis_menu  { 
color: #999999; }

.hlavicka{position:absolute; top: 50px;}
.prvni{position:absolute;  left:350px; z-index: 3;}
.druhy{position:absolute;  left:750px; z-index: 2;}


*/	