
.scrollup {  bottom:8px; right:200px; }
#page-wrap {position: relative; margin: 50px auto; width: 600px;}

#anotace {position: absolute; background-color:black; width:200px; height:auto; padding:left; margin-left: 50px; }